* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.display-none {
	display: none;
}
main {
	width: 80%;
	margin: 0 auto;
}
thead {
	font-weight: bold;
	color: ivory;
	background-color: rgb(35, 35, 35);
}

td {
	border: solid 2px black;
	text-align: center;
	padding: 5px;
}
form {
	width: 100%;
}
.pseudo,
.password,
.nom,
.prenom,
.email,
.civilite,
.statut {
	width: 40%;
	display: flex;
}

label {
	font-weight: bolder;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
/* body {
	background-color: aqua;
} */
