* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background-image: url("../img/background1.jpg");
	background-size: cover;
	height: 500px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}
nav button:hover {
	-webkit-box-shadow: 0px 0px 5px 5px rgba(230, 230, 230, 0.5);
	box-shadow: 0px 0px 5px 5px rgba(230, 230, 230, 0.5);
}
#filtres {
	display: flex;
	width: 50%;
	height: 15%;
	cursor: pointer;
}
#filtres div {
	width: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: small;
	background-color: rgba(156, 156, 156, 0.5);
}
#filtres div:hover {
	font-weight: bold;
}
#filtres .agence {
	border-top-left-radius: 5px;
}
#filtres .valider {
	background-color: rgba(35, 107, 33, 0.75);
	border-top-right-radius: 5px;
}

.display-none {
	display: none;
}
/* body {
	background-color: aqua;
} */
